*.pbxproj -text

# Config
.env merge=ours
.env.demo merge=ours
.env.production merge=ours
.env.dev merge=ours
app.json merge=ours
env-ios.js merge=ours
env-ios-demo.js merge=ours
index.js merge=ours
package.json merge=ours

# iOS
/ios merge=ours

# Android
/android merge=ours
/certificate merge=ours
/config merge=ours
/assets merge=ours
