<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187027636084-is92f4mcsgbetvttfhjd0r0auo3jgj2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187027636084-is92f4mcsgbetvttfhjd0r0auo3jgj2f</string>
	<key>API_KEY</key>
	<string>AIzaSyAqqOcMRWQVdfV3bWiqYRIiZa5gXB66bTM</string>
	<key>GCM_SENDER_ID</key>
	<string>187027636084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgeworks.funtoast-app</string>
	<key>PROJECT_ID</key>
	<string>funtoast-a1dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>funtoast-a1dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187027636084:ios:610af646d64d588a8bb621</string>
</dict>
</plist>