<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Qiji_v1</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>GARA.TTF</string>
		<string>GARABD.TTF</string>
		<string>GARAIT.TTF</string>
		<string>GARAM.ttf</string>
		<string>Garamond Bold font.ttf</string>
		<string>Garamond Medium Italic.ttf</string>
		<string>Garamond Regular.ttf</string>
		<string>Garamond Roman.ttf</string>
		<string>Garamond.ttf</string>
		<string>garmndmi.ttf</string>
		<string>GARR66W.TTF</string>
		<string>unicode.garamond.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>constan.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Heavy.ttf</string>
		<string>Lato-HeavyItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-MediumItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
		<string>Lato-SemiboldItalic.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-ThinItalic.ttf</string>
		<string>Mark Simonson - Proxima Nova Alt Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Black.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Bold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Black.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Bold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Light.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Regular.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Condensed Thin.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Black.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Bold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Light.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Regular.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extra Condensed Thin.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Light.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Regular.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Alt Thin.otf</string>
		<string>Mark Simonson - Proxima Nova Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Black.otf</string>
		<string>Mark Simonson - Proxima Nova Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Bold.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Black.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Bold.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Light.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Regular.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Condensed Thin.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Black.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Bold.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Light.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Regular.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extra Condensed Thin.otf</string>
		<string>Mark Simonson - Proxima Nova Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Light.otf</string>
		<string>Mark Simonson - Proxima Nova Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Black.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Bold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Black.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Bold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Light.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Regular.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Condensed Thin.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Black Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Black.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Bold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Bold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Light.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Regular.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extra Condensed Thin.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extrabold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Extrabold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Light Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Light.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Regular Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Regular.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Semibold.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova ScOsf Thin.otf</string>
		<string>Mark Simonson - Proxima Nova Semibold Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Thin Italic.otf</string>
		<string>Mark Simonson - Proxima Nova Thin.otf</string>
		<string>Proxima Nova - Semi Bold.otf</string>
		<string>Proxima Nova.otf</string>
		<string>Avenir Roman.otf</string>
	</array>
</dict>
</plist>
