<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ace Mart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>67</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>97CB7714028004F3C04915A5732B613517463A45</string>
				<key>dateExpires</key>
				<string>27/05/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YSZ34Z59CY.com.edgeworks.acemart-app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>YSZ34Z59CY</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Ace Mart.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41cfc3ab-ad7a-4026-92fa-23f37d1b7f66</string>
				<key>dateExpires</key>
				<string>27/05/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.edgeworks.acemart-app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YSZ34Z59CY</string>
				<key>name</key>
				<string>Edgeworks Solutions Pte Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.30</string>
		</dict>
	</array>
</dict>
</plist>
